
  body {
    margin: 0;
    padding: 0;
}

#header {
    padding-right: 5%;
    display: inline-block;
    background-color: black;
    
    color: white;
}

.footer {
    background-color: black;
    color: white;
    margin-top: 2px;
}

.cubito {
    margin: 0;
    height: 100%;
    max-width: 100%;
}

.tec {
    top: 50%;
    font-size: 2vw;
    display: inline-block;
    padding-left: auto;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
