
  body {
    margin: 0;
    padding: 0;
}

#header {
    padding-right: 5%;
    display: inline-block;
    background-color: #333;
    
    color: white;
}

.header {
    background-color: black;
    height: 72px;
}

.footer {
    background-color: black;
    color: white;
    margin-top: 2px;
}

.cubito {
    margin: 0;
    height: 100%;
    max-width: 100%;
}

.tec {
    top: 50%;
    font-size: 2vw;
    display: inline-block;
    padding-left: auto;
}