/* Media queries */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .vertical-menu {
        width: 100;
    }

  }
/* Media queries */


body {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}


/*estaticos de index*/
#header {
    padding-right: 1%;
    display: inline-block;
    background-color: black;
    color: white;
    top: 0;
    position: sticky;
}

.footer {
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.cubito {
    margin: 0;
    height: 100%;
    max-width: 100%;
}

.tec {
    top: 50%;
    font-size: 2vw;
    display: inline-block;
    padding-left: auto;
}

iframe {
    display: block;       
    background: #000;
    border: none;         
    height: 100vh;        
    width: 100vw;
}

.body {
    overflow: hidden;
}
/*estaticos de index*/


/*menu*/
.menus {
    top: 0;
    position: sticky;
    display: inline-block;
}
/*menu*/

/*menu vertical del costado*/
.vertical-menu {
    width: 128px;
    float: left;
    height: 100vh;
    background-color: #004848;
    text-align: center;
}
  
.vertical-menu a {
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}
  
.vertical-menu a:hover {
    background-color: #ccc;
}
  
.vertical-menu a.active {
    background-color: #000;
    color: white;
}
/*menu vertical del costado*/


/*detalles de paginas*/
.titulos {
    text-align: center;
    font-size: 50px;
}

.centrar{
    margin:auto;
    display:block;
}
/*detalles de paginas*/


/*sedes*/
.c-sedes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

}
.sedes {
    align-items:center;
    width: 50%;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
}
.sedes > a {
    text-align: center;
    text-decoration: none;
}
.sedes > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: clip;
}
/*sedes*/
